<!-- previous page -->
{% if item_list.has_prev %}
<li>
    <a href="{{ url_for('item_list', page=item_list.prev_num) }}">Previous</a>
</li>
{% endif %}

<!-- all page numbers -->
{% for page_num in item_list.iter_pages() %}
    {% if page_num %}
        {% if page_num != item_list.page %}
            <li>
                <a href="{{ url_for('item_list', page=page_num) }}">{{ page_num }}</a>
            </li>
        {% else %}
            <li class="active">
                <a href="#">{{ page_num }}</a>
            </li>
        {% endif %}
   {% else %}
       <li>
           <span class="ellipsis" style="white-space; nowrap; overflow: hidden; text-overflow: ellipsis">…</span>
       </li>
   {% endif %}
{% endfor %}

<!-- next page -->
{% if item_list.has_next %}
<li>
    <a href="{{ url_for('item_list', page=item_list.next_num) }}">Next</a></li>
{% endif %}
